* {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
}

.hero {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px 250px;
}

img {
    width: 750px;
    height: 300px;
    padding-left: 250px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 250px;
}

.main-nav {
    list-style-type: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links, .logo {
    text-decoration: none;
    color: #F9FAF8;
}

.navbar, ul {
    display: flex;
    flex-direction: row;
}

ul li {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 10px;
}

.info {
    padding: 50px 250px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    padding: 50px 250px;
    text-align: justify;
}
button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 12px;

}

h2 {
    font-size: 48px;
    font: bold;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 50px;
    
}